<section class="msger">
    <!-- <header class="msger-header">
      <div class="msger-header-options">
        <span><i class="fas fa-cog"></i></span>
      </div>
    </header> -->
  
    <main class="msger-chat">
         
    </main>
  
    <form class="msger-inputarea">
      <input type="text" class="msger-input" placeholder="Enter your message...">
      <button type="submit" class="msger-send-btn">Send</button>
    </form>
  </section>