<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing Nodejs</title>
    <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    <!-- <link rel="stylesheet" href="/css/chat.css" /> -->
    <!-- <link rel="stylesheet" href="/css/login.css" /> -->
    <%- include ("partials/header/header") %>
</head>

<body>
    <%- body %>
        <!-- SCRIPTS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.6/qs.min.js" integrity="sha512-3TmPrquYLaAsUmZKXRARTDC5siWhLAdBVqNo4dWpDABBtLU62AaoTaQJEvjxjExcZYurO6i1dnK85k8pPIBlRg==" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk=" crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>
        <%- include ("partials/scripts/scripts") %>
</body>

</html>