    @import url(https://fonts.googleapis.com/css?family=Montserrat);
    .loader-content {
        margin-top: -100px;
        width: 100%;
        height: 110%;
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        z-index: 9000;
        display: none;
    }
    
    .wrap {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        text-align: center;
    }
    
    .poro {
        width: 288px;
        height: 288px;
        background-image: url("../images/loader.gif");
    }
    
    .text {
        color: #3c8dbc;
        font-size: 1vw;
        /*#fbae17;*/
        display: inline-block;
        margin-left: 5px;
    }
    
    .bounceball {
        margin: 0 5px;
        position: relative;
        display: inline-block;
        height: 37px;
        width: 15px;
    }
    
    .bounceball:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #3c8dbc;
        /*#fbae17;*/
        transform-origin: 50%;
        animation: bounce 300ms alternate infinite ease;
    }
    
    .bounceball_inverse {
        margin: 0 5px;
        position: relative;
        display: inline-block;
        height: 37px;
        width: 15px;
    }
    
    .bounceball_inverse:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #3c8dbc;
        /*#fbae17;*/
        transform-origin: 50%;
        animation: bounceinverse 300ms alternate infinite ease;
    }
    
    .bounceball_first {
        margin: 0 5px;
        position: relative;
        display: inline-block;
        height: 37px;
        width: 15px;
    }
    
    .bounceball_first:before {
        position: absolute;
        content: '';
        display: block;
        top: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #3c8dbc;
        /*#fbae17;*/
        transform-origin: 50%;
        animation: bounce 300ms alternate infinite ease;
    }
    
    @keyframes bounce {
        0% {
            top: 30px;
            height: 5px;
            border-radius: 60px 60px 20px 20px;
            transform: scaleX(2);
        }
        35% {
            height: 15px;
            border-radius: 50%;
            transform: scaleX(1);
        }
        100% {
            top: 0;
        }
    }
    
    @keyframes bounceinverse {
        100% {
            top: 30px;
            height: 5px;
            border-radius: 60px 60px 20px 20px;
            transform: scaleX(2);
        }
        35% {
            height: 15px;
            border-radius: 50%;
            transform: scaleX(1);
        }
        0% {
            top: 0;
        }
    }
    
    @keyframes bouncefirst {
        100% {
            top: 30px;
            height: 5px;
            border-radius: 60px 60px 20px 20px;
            transform: scaleX(2);
        }
        15% {
            height: 15px;
            border-radius: 50%;
            transform: scaleX(1);
        }
        0% {
            top: 0;
        }
    }