
<section class="users-list">
    <header class="users-header">
      <div class="users-conected">
        <label style="float: left;">Listado de Usuarios
        </label>
        <label style="float: right;">
          <label id="usersNumber">
          </label>
          <svg aria-hidden="true" focusable="false" data-prefix="fad" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-circle fa-w-16 fa-3x">
            <g class="fa-group">
              <path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 424c-97.06 0-176-79-176-176S158.94 80 256 80s176 79 176 176-78.94 176-176 176z" class="fa-secondary"></path>
              <path fill="currentColor" d="M256 432c-97.06 0-176-79-176-176S158.94 80 256 80s176 79 176 176-78.94 176-176 176z" class="fa-primary"></path>
            </g>
          </svg>
        </label>
      </div>
    </header>
    <main class="main-list">
      <div class="main-cover" id="usersList">

      </div> 
    </main>
  </section>