<!-- Loader -->
<div class="loader-content" id="loading">
    <div class="wrap">
        <div class="loading">
            <div class="poro"></div>
            <div class="bounceball_first"></div>
            <div class="bounceball_inverse"></div>
            <div class="bounceball"></div>
            <div class="text">LOADING</div>
        </div>
    </div>
</div>
<!--../resources/video.mp4-->
<!-- <video autoplay muted loop id="myVideo">
    <source src="../resources/video.mp4" type="video/mp4">
</video> -->
<div class="cont">
    <div class="form sign-in">
        <h2>Create room</h2>
        <label>
            <img id="selectIcono1" class="imgIcono" src="http://ddragon.leagueoflegends.com/cdn/11.5.1/img/profileicon/588.png" alt="">
        </label>
        <label>
            <span>Username</span>
            <input id="txtUsername1" type="text" />
        </label>
        <label>
            <span>Capacidad</span>
            <input id="txtCapacidad" type="number" />
        </label>
        <label>
            <span>Languaje</span>
            <select id="cboLanguaje">
                <option value="">Seleccione un idioma</option>
            </select>
        </label>
        <br>
        <!--<p class="forgot-pass">Forgot password?</p>-->
        <button type="button" id="btnCreate" class="submit">Create</button>
    </div>
    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>Do you have a room code?</h2>
                <p>If you already has an room code, just sign in. We've missed you!</p>
            </div>
            <div class="img__text m--in">
                <h2>Do you want to create a room?</h2>
                <p>Sign up and discover great amount of new opportunities!</p>
            </div>
            <div class="content_arrow">
                <div class="container_arrow">
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                    <div class="chevron"></div>
                </div>
            </div>
            <div class="img__btn">
                <span class="m--up">Search</span>
                <span class="m--in">Create</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>Search Room</h2>
            <label>
                <img id="selectIcono2" class="imgIcono" src="http://ddragon.leagueoflegends.com/cdn/11.5.1/img/profileicon/588.png" alt="">
            </label>
            <label>
                <span>Username</span>
                <input id="txtUsername2" type="text" />
            </label>
            <label>
                <span>Code</span>
                <input id="txtCodeRoom" type="text" />
             </label>
            <br>
            <button type="button" id="btnJoin" class="submit">Join</button>
            <!--<button type="button" class="fb-btn">Join with <span>facebook</span></button>-->
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" tabindex="-1" id="staticBackdrop">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin:0 !important;"></button>
            </div>
            <div class="modal-body" style="text-align: center;" id="olIconos">
                <img id="imgIconoList" src="http://ddragon.leagueoflegends.com/cdn/11.5.1/img/profileicon/1.png" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="width:auto !important;">Close</button>
                <button type="button" id="selectIcon" class="btn btn-primary" data-bs-dismiss="modal" style="width:auto !important;">Save changes</button>
            </div>
        </div>
    </div>
</div>